# Backend
GEMINI_API_KEY = "sua chave api"

# Frotend

VITE_API_URL = "http://localhost:5000"

# Banco de dados

POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "suasenha"
POSTGRES_DB = "seudb"
POSTGRES_HOST = "db para Docker Compose ou localhost para local"
POSTGRES_PORT = 5432

# Caso queira usar testes, certifique de configurar outra senha, outro db e outro host, para não acontecer nenhum erro